.icon-message {
	background: url('../images/sprite.png') no-repeat -9px -2px;
	width: 17px;
	height: 14px;
}

.icon-phone {
	background: url('../images/sprite.png') no-repeat -33px -1px;
	width: 8px;
	height: 16px;
}

.icon-pin {
	background: url('../images/sprite.png') no-repeat -49px -1px;
	width: 17px;
	height: 16px;
}

.icon-tag {
	background: url('../images/sprite.png') no-repeat -68px -2px;
	width: 18px;
	height: 14px;
}

.icon-shop-sm {
	background: url('../images/sprite.png') no-repeat -89px -1px;
	width: 17px;
	height: 17px;
}

.icon-check {
	background: url('../images/sprite.png') no-repeat -116px -1px;
	width: 12px;
	height: 12px;
}

.icon-uncheck {
	background: url('../images/sprite.png') no-repeat -130px -1px;
	width: 13px;
	height: 12px;
}

.icon-down-arrow-sm {
    background: url('../images/sprite.png') no-repeat -145px 0;
    width: 8px;
    height: 4px;
}

.icon-next {
	background: url('../images/sprite.png') no-repeat -155px 0;
	width: 11px;
	height: 11px;
}

.icon-next-sm {
	background: url('../images/sprite.png') no-repeat -169px 0;
	width: 7px;
	height: 6px;
}

.icon-search-sm {
	background: url('../images/sprite.png') no-repeat -185px 0;
	width: 12px;
	height: 12px;
}

.icon-down-arrow-round-gray {
	background: url('../images/sprite.png') no-repeat -202px -1px;
	width: 15px;
	height: 14px;
}

.icon-right-arrow-round-gray {
	background: url('../images/sprite.png') no-repeat -221px -1px;
	width: 14px;
	height: 13px;
}

.icon-up-arrow-sharp-orange {
	background: url('../images/sprite.png') no-repeat -239px -1px;
	width: 19px;
	height: 10px;
}

.icon-down-arrow-sharp-gray {
	background: url('../images/sprite.png') no-repeat -261px -1px;
	width: 19px;
	height: 10px;
}

.icon-up-arrow-round-white {
	background: url('../images/sprite.png') no-repeat -285px -1px;
	width: 14px;
	height: 13px;
}

.icon-down-arrow-round-white {
	background: url('../images/sprite.png') no-repeat -303px -1px;
	width: 14px;
	height: 13px;
}

.icon-adidas {
	background: url('../images/sprite.png') no-repeat -9px -31px;
	width: 33px;
	height: 21px;
}

.icon-nike {
	background: url('../images/sprite.png') no-repeat -57px -35px;
	width: 38px;
	height: 13px;
}

.icon-reebok {
	background: url('../images/sprite.png') no-repeat -105px -36px;
	width: 43px;
	height: 12px;
}

.icon-puma {
	background: url('../images/sprite.png') no-repeat -160px -30px;
	width: 31px;
	height: 24px;
}

.icon-vtex {
	background: url('../images/sprite.png') no-repeat -200px -26px;
	width: 74px;
	height: 22px;
}

.icon-down-arrow-white {
	background: url('../images/sprite.png') no-repeat -285px -28px;
	width: 11px;
	height: 5px;
}

.icon-down-arrow-orange {
	background: url('../images/sprite.png') no-repeat -302px -28px;
	width: 11px;
	height: 5px;
}

.icon-shop {
	background: url('../images/sprite.png') no-repeat -317px -19px;
	width: 25px;
	height: 25px;
}

.icon-search {
	background: url('../images/sprite.png') no-repeat -10px -64px;
	width: 17px;
	height: 17px;
}

.icon-fizzmod {
	background: url('../images/sprite.png') no-repeat -197px -54px;
	width: 67px;
	height: 19px;
}
